################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/Sources05072021/v16/.suo
/.vs/Sources05072021/v16
/.vs/slnx.sqlite
/PCLister/.vs/PCLister/v16/.suo
/PCLister/PCLister/bin/Debug/netcoreapp3.1
/PCLister/PCLister/obj
